{% extends 'picsfolio/base.html' %} 

{% block content %}
{% load static %}
<section class="background">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap" rel="stylesheet">
<link  href="{% static 'css/main_page.css' %}" rel="stylesheet">

<div class = "" id="title_container">
<p class="d-flex justify-content-center title"> PicsShow </p>

<p class="d-flex justify-content-center txt">place for your photos</p>
</div>

</div>
</section>
{% endblock %}